<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  <link href="~/Content/bootstrap.css" rel="stylesheet" />
  <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
  <link href="~/Content/bootstrappage.css" rel="stylesheet" />
  <link href="~/Content/flexslider.css" rel="stylesheet" />
  <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
  <div id="top-bar" class="container">
    <div class="row">
      <div class="span12">
        <div class="account pull-right">
          <ul class="user-menu">
            <li>@Html.ActionLink("首頁", "Index", "Home")</li>
            <li>@Html.ActionLink("最新消息", "Index", "News")</li>
            <li>@Html.ActionLink("常見問題", "Index", "Faqs")</li>
            @{
              if (User.Identity.IsAuthenticated)
              {
                <li><a href="/Members/Index/">Hi! @(User.Identity.Name)</a></li>
                <li>@Html.ActionLink("登出", "Logout", "Members")</li>
                <li><a href="/Cart/Info/"><i class="fas fa-shopping-cart"></i>購物車</a></li>
              }
              else
              {
                <li>@Html.ActionLink("登入", "Login", "Members")</li>
                <li>@Html.ActionLink("註冊", "Register", "Members")</li>
              }
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper" class="container">
    <section class="navbar main-menu">
      <div class="navbar-inner main-menu">
        <a href="index.html" class="logo pull-left"><img src="~/Assest/logo.png" class="site_logo" alt=""></a>
        <nav id="menu" class="pull-right">
          <ul>
            <li>@Html.ActionLink("所有商品", "Index", "Product")</li>
            <li><a href="./products.html">餅乾</a></li>
            <li><a href="./products.html">糖果</a></li>
            <li><a href="./products.html">泡麵</a></li>
            <li><a href="./products.html">非酒精飲料</a></li>
            <li><a href="./products.html">酒精飲料</a></li>
          </ul>
        </nav>
      </div>
    </section>

    @RenderBody()

    <section id="footer-bar">
      <div class="row">
        <div class="span3">
          <h4>Navigation</h4>
          <ul class="nav">
            <li><a href="./index.html">Homepage</a></li>
            <li><a href="./about.html">About Us</a></li>
            <li><a href="./contact.html">Contac Us</a></li>
            <li><a href="./cart.html">Your Cart</a></li>
            <li><a href="./register.html">Login</a></li>
          </ul>
        </div>
        <div class="span4">
          <h4>My Account</h4>
          <ul class="nav">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Wish List</a></li>
            <li><a href="#">Newsletter</a></li>
          </ul>
        </div>
        <div class="span5">
          <p class="logo"><img src="themes/images/logo.png" class="site_logo" alt=""></p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
          <br />
          <span class="social_icons">
            <a class="facebook" href="#">Facebook</a>
            <a class="twitter" href="#">Twitter</a>
            <a class="skype" href="#">Skype</a>
            <a class="vimeo" href="#">Vimeo</a>
          </span>
        </div>
      </div>
    </section>
    <section id="copyright">
      <span>Copyright 2013 bootstrappage template  All right reserved.</span>
    </section>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
  <script src="~/Scripts/bootstrap.js"></script>
  <script src="~/Scripts/jquery.fancybox.js"></script>
  <script src="~/Scripts/jquery.scrolltotop.js"></script>
  <script src="~/Scripts/superfish.js"></script>
  <script src="~/Scripts/common.js"></script>
  <script src="~/Scripts/jquery.flexslider-min.js"></script>
  <script type="text/javascript">
    $(function () {
      $(document).ready(function () {
        $('.flexslider').flexslider({
          animation: "fade",
          slideshowSpeed: 4000,
          animationSpeed: 600,
          controlNav: false,
          directionNav: true,
          controlsContainer: ".flex-container" // the container that holds the flexslider
        });
      });
    });
  </script>
</body>
</html>
