@model IEnumerable<ShoppingSite_FrontEnd.Site.Models.ViewModels.ProductVM>
@using PagedList.Mvc;
@using PagedList;

<style>
  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
  }

  .productList_item {
    width: 381.66px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

    .pagination li {
      padding: 5px;
    }
</style>

<div class="container">
  <ul class="productList">
    @foreach (var item in Model)
    {
      <li class="productList_item">
        <img src="~/Assest/ProductImage.jpg">
        <h3>
          @Html.DisplayFor(modelItem => item.Name)
        </h3>
        <p>
          @Html.DisplayFor(modelItem => item.Description)
        </p>
        <br />
        <span>@Html.DisplayFor(modelItem => item.Price)</span>

        @*@if (User.Identity.IsAuthenticated)
          {*@
        <button class="add2cart btn btn-primary btn-sm" data-id="@item.Id">加入購物車</button>
        @*}*@
      </li>
    }
  </ul>
</div>

@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { pageNumber = x }))

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
  <script>
    $(document).ready(function () {
      $(".add2cart").each(function () {
        $(this).on("click", function () {
          var self = $(this);
          var productId = self.attr("data-id")
          var memberCookie = getCookie("membershipdemo")
          if (memberCookie == null) {
            location.href = '/Members/Login/';
          } else {
            // ajax 送出 request
            $.get("/Cart/AddItem?productId=" + productId, null, function (result) {
              alert("已加入購物車");
            })
          }
        })
      })
    })
  </script>
}
